{% extends "base-layout.html.twig" %}

{% block content %}
    <table class="table">
        <tr>
            <th>Prénom</th>
            <td>{{ person.firstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ person.lastName }}</td>
        </tr>

        <tr>
            <th>Rue</th>
            <td>{{ person.address.street }}</td>
        </tr>

        <tr>
            <th>Code postal</th>
            <td>{{ person.address.zipCode }}</td>
        </tr>

        <tr>
            <th>Ville</th>
            <td>{{ person.address.city }}</td>
        </tr>
    </table>

{% endblock %}